/* Importações */
@import url(/Design/variaveis.css);

/* Estilização do Tablet */
@media screen and (min-width: 48.1rem) {
    body {
        background-color: var(--back-white);
        font-family: var(--barlow);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .conteudo__depoimento {
        margin: 14.313rem 10.063rem 13.325rem 10.313rem;
        display: grid;
        gap: 1.5rem
    }

    /* Estilização do Depoimento do Daniel */
    .depoimento__daniel {
        width: 30.438rem;
        background-color: var(--purple-500);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 6px var(--grey-400);
        background-image: url(/Assets/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 85.5% 0%;
        grid-column: span 2;
        grid-row: 1;
    }

    .depoimento__daniel img {
        border-radius: 50%;
        border: 2px solid var(--purple-300);
        width: 1.75rem;
    }

    .daniel__informacoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;
        margin-bottom: 1rem;
    }

    .nome__daniel {
        font-size: 0.813rem;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 0.25rem;
    }

    .verificacao__daniel {
        font-size: 0.688rem;
        font-weight: 400;
        color: var(--purple-50);
    }

    .depoimento__informacoes__daniel {
        width: 30.438rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .informacoes__destaque__daniel {
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
    }

    .informacoes__texto__daniel {
        color: var(--purple-50);
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 140%;
    }

    /* Estilização do Depoimento do Jonathan */
    .depoimento__jonathan {
        width: 12.063rem;
        background-color: var(--grey-500);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 6px var(--grey-400);
        grid-column: 3;
        grid-row: 1;
    }

    .depoimento__jonathan img {
        border-radius: 50%;
        width: 1.75rem;
    }

    .jonathan__informacoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;
        margin-bottom: 1rem;
    }

    .nome__jonathan {
        font-size: 0.813rem;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 0.25rem;
    }

    .verificacao__jonathan {
        font-size: 0.688rem;
        font-weight: 400;
        color: var(--purple-50);
    }

    .depoimento__informacoes__jonathan {
        width: 11.063rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .informacoes__destaque__jonathan {
        color: var(--white);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
        width: 12.063rem;
    }

    .informacoes__texto__jonathan {
        color: var(--purple-50);
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 140%;
    }

    /* Estilização do Depoimento da Jeanette Harmon */
    .depoimento__jeanette {
        width: 12.063rem;
        background-color: var(--white);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 6px var(--grey-400);
        grid-column: 1;
        grid-row: 2;
    }

    .depoimento__jeanette img {
        border-radius: 50%;
        width: 1.75rem;
    }

    .jeanette__informacoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;
        margin-bottom: 1rem;
    }

    .nome__jeanette {
        font-size: 0.813rem;
        font-weight: 500;
        color: var(--grey-400);
        margin-bottom: 0.25rem;
    }

    .verificacao__jeanette {
        font-size: 0.688rem;
        font-weight: 400;
        color: var(--grey-500);
    }

    .depoimento__informacoes__jeanette {
        width: 11.263rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .informacoes__destaque__jeanette {
        color: var(--grey-500);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
    }

    .informacoes__texto__jeanette {
        color: var(--grey-400);
        font-size: 0.813rem;
        font-weight: 500;
        line-height: 140%;
    }

    /* Estilização do Depoimento do Patrick Abrams */
    .depoimento__patrick {
        width: 30.438rem;
        background-color: var(--dark-blue);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 6px var(--grey-400);
        grid-column: span 3;
        grid-row: 2;
    }

    .depoimento__patrick img {
        border-radius: 50%;
        width: 1.75rem;
    }

    .patrick__informacoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;
        margin-bottom: 1rem;
    }

    .nome__patrick {
        font-size: 0.813rem;
        font-weight: 500;
        color: var(--white);
        margin-bottom: 0.25rem;
    }

    .verificacao__patrick {
        font-size: 0.688rem;
        font-weight: 200;
        color: var(--white);
    }

    .depoimento__informacoes__patrick {
        width: 30.438rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .informacoes__destaque__patrick {
        color: var(--grey-200);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
    }

    .informacoes__texto__patrick {
        color: var(--grey-100);
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 140%;
    }

    /* Estilização do Depoimento da Kira Whittle */
    .depoimento__kira {
        width: 11.938rem;
        background-color: var(--white);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 6px var(--grey-400);
        grid-column: 5;
        grid-row: span 2;
    }

    .depoimento__kira img {
        border-radius: 50%;
        width: 1.75rem;
    }

    .kira__informacoes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.063rem;
        margin-bottom: 1rem;
    }

    .nome__kira {
        font-size: 0.813rem;
        font-weight: 500;
        color: var(--grey-500);
        margin-bottom: 0.25rem;
    }

    .verificacao__kira {
        font-size: 0.688rem;
        font-weight: 200;
        color: var(--grey-300);
    }

    .depoimento__informacoes__kira {
        width: 11.938rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .informacoes__destaque__kira {
        color: var(--grey-500);
        font-size: 1.25rem;
        font-weight: 600;
        line-height: normal;
    }

    .informacoes__texto__kira {
        color: var(--grey-400);
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 140%;
    }
}